@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');


* {
    box-sizing: border-box;
}

.body-wrap {
    font-family: 'Muli', 'sans-serif';
    background-color: aliceblue;
    position: relative;
    overflow: hidden;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 0;
}
